<header class="bg-light">
  <div class="container">
    <nav class="navbar navbar-light navbar-expand-md">
      <a routerLink="/" class="navbar-brand">
        <img ngSrc="logo.png" alt="MyApp" width="30" height="30" class="d-inline-block align-top">
        <span class="ps-1">Bookstore</span>
      </a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarToggle"
              aria-label="Toggle navigation" aria-controls="navbarToggle" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <ul class="navbar-nav ms-auto">

          <!--Source code navbar item-->
          <li class="navbar-item">
            <a href="https://github.com/thainguyencoffee/book-store" target="_blank"
               class="nav-link">
              Source code
            </a>
          </li>

          <li class="navbar-item dropdown">

          </li>

        </ul>
      </div>
    </nav>
  </div>
</header>
